<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>FARSCOPE Tortoise code editor</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

		<style type="text/css" media="screen">
			#editor {
			    margin: 5px;
			    position: absolute;
			    top: 150px;
			    bottom: 0;
			    left: 2px;
			    right: 0;
			}
		</style>
	</head>
	<body>

		<!-- Header -->
		<header id="header">
			<h1>Here we go!</h1>
			<p>A simple programming interface for the FARSCOPE Tortoises.</p>
		</header>
		
		<!-- Programming interface -->
		<div id="mainInterface" style="width:700px; height:700px">
			<div id="inputDiv" style="width:700px; height:400px">
				<form id="editorForm" method="post" action="#">
					<button type="submit" value="Run">Run</button>
					<textarea id="editorText" name="editorText" rows="15" cols="100" style="display:none">{{ displayText }}</textarea>
				</form>
			</div>
			<div id="outputDiv" style="width:700px; height:300px">
				<p>Console output</p>
				<form id="output">
					<textarea id="outputText", name="outputText" rows="15" cols="100">{{ outputText }}</textarea>
				</form>
			</div>
		</div>
		
	
		<script src="/static/ace-builds/src-noconflict/ace.js"></script>
		<script src="/static/ace-builds/src-noconflict/mode-python.js"></script>
		<script src="/static/ace-builds/src-noconflict/theme-monokai.js"></script>
		
		<script>
		    // Hook up ACE editor to the python textarea
		    var editorForm = document.getElementById("editorForm");
		    var textarea = document.getElementById("editorText");
		    var editorDiv = document.createElement("div");
			editorDiv.id = "editor";
			editorDiv.style.width = "700px";//textarea.style.width;
			editorDiv.style.height = "300px";//textarea.style.height;
			editorForm.appendChild(editorDiv);
			textarea.style.display = "none";

			// create ace editor in the div created above
		    var editor = ace.edit(editorDiv);
		    editor.setTheme("ace/theme/monokai");
			editor.setFontSize(14);

		    editor.getSession().setMode("ace/mode/python");
		    editor.getSession().setValue(textarea.value);


		    editor.getSession().on('change', function(){textarea.value = editor.getSession().getValue(); return false; });

		</script>
	</body>
</html>
