{% extends 'layout.html' %}

{% block body %}
	

	
	<!-- Programming interface -->
	<div class="row">
	    <div class="one column"></div>
	    <div class="eleven columns" id="mainInterface">
			<div id="inputDiv">
				<form id="editorForm" method="post" action="#">
					<button type="submit" class="button-primary" value="Run">Run</button>
					
					<textarea id="editorText" name="editorText" rows="15" cols="100" style="display:none">{{ displayText }}</textarea>
				</form>
			</div>
			<div id="outputDiv"> <!--style="width:700px; height:300px"-->
				<h6 class="docs-header">Console output:</h6>
				<form id="output">
					<textarea id="outputText" name="outputText" class="u-full-width">{{ outputText }}</textarea>
				</form>
			</div>
		</div>
	</div>
	


	
	
	

	<script src="{{ url_for('static',filename='ace-builds/src-noconflict/ace.js') }}"></script>
	<script src="{{ url_for('static',filename='ace-builds/src-noconflict/mode-python.js') }}"></script>
	<script src="{{ url_for('static',filename='ace-builds/src-noconflict/theme-monokai.js') }}"></script>
	
	<script>
	    // Hook up ACE editor to the python textarea
	    var editorForm = document.getElementById("editorForm");
	    var textarea = document.getElementById("editorText");
	    var editorDiv = document.createElement("div");
		editorDiv.id = "editor";
		editorDiv.style.width = "700px";//textarea.style.width;
		editorDiv.style.height = "300px";//textarea.style.height;
		editorForm.appendChild(editorDiv);
		textarea.style.display = "none";

		// create ace editor in the div created above
	    var editor = ace.edit(editorDiv);
	    editor.setTheme("ace/theme/monokai");
		editor.setFontSize(14);

	    editor.getSession().setMode("ace/mode/python");
	    editor.getSession().setValue(textarea.value);


	    editor.getSession().on('change', function(){textarea.value = editor.getSession().getValue(); return false; });

	</script>
{% endblock %}