{% extends 'layout.html' %}

{% block body %}
	

	
	<!-- Programming interface ––––––––––––––––––––––––––––––––––––––––––––––––––-->
	<div class="row">
	    <div class="one column"></div>
	    <div class="eleven columns" id="mainInterface">
			<div id="inputDiv">
				Currently open file: 
				<textarea id="currentFileName" name="currentFileName" rows="1" cols="25">Untitled</textarea>
				<!-- <span id="currentFileName" name="currentFileName">mo</span> -->
				<input type="file" id="fileElem" name="file_elem" hidden="hidden">
				<button class="button-primary" name="Choose_file_button" id="Choose_file_button">Choose New</button>


				<form id="editorForm" method="post" action="#">
					
					
					

					<br>
					<button type="submit" class="button-primary" name="Run_button" value="Run">Run</button>
					&nbsp;&nbsp;&nbsp;
					<button type="submit" class="button-primary" name="Save_button" value="Save">Save</button>
					<!-- <label for="fileElem">Open</label> -->
					<!-- <button type="submit" class="button-primary" name="New_button" value="New">New</button> -->
					
					
					
					<textarea id="editorText" name="editorText" style="display:none">{{ displayText }}</textarea>
					
				</form>
			</div>
			<div id="outputDiv"> <!--style="width:700px; height:300px"-->
				<h6 class="docs-header">Console output:</h6>
				<form id="output">
					<pre id="outputText" name="outputText" class="u-full-width">{{ outputText }}</pre>
				</form>
			</div>
		</div>
	</div>
	
	
	<!-- Scripts ––––––––––––––––––––––––––––––––––––––––––––––––––-->
	<script src="{{ url_for('static',filename='ace-builds/src-noconflict/ace.js') }}"></script>
	<script src="{{ url_for('static',filename='ace-builds/src-noconflict/mode-python.js') }}"></script>
	<script src="{{ url_for('static',filename='ace-builds/src-noconflict/theme-monokai.js') }}"></script>
	<script src="{{ url_for('static',filename='ace-builds/src-noconflict/theme-xcode.js') }}"></script>


	<script>
	    // Hook up ACE editor to the python textarea
	    var editorForm = document.getElementById("editorForm");
	    var textarea = document.getElementById("editorText");
	    var editorDiv = document.createElement("div");
		editorDiv.id = "editor";
		editorDiv.style.width = textarea.style.width;
		editorDiv.style.height = "300px";//textarea.style.height;
		editorForm.appendChild(editorDiv);
		textarea.style.display = "none";

		// create ace editor in the div created above
	    var editor = ace.edit(editorDiv);
	    editor.setTheme("ace/theme/xcode");
		editor.setFontSize(14);
		editor.setShowPrintMargin(false);

	    editor.getSession().setMode("ace/mode/python");
	    editor.getSession().setValue(textarea.value);


	    editor.getSession().on('change', function(){textarea.value = editor.getSession().getValue(); return false; });


	    currentFileElem = document.getElementById("currentFileName");
	    currentFileElem.style.position = "absolute";
	    currentFileElem.style.height = "50px";

	    const chooseFileBtn = document.getElementById("Choose_file_button");
		chooseFileBtn.addEventListener("click", function() {
  			fileElem.click();
    	});


	    fileElem = document.getElementById("fileElem");
		fileElem.addEventListener("change", function() 
		{
  			if(fileElem.value)
  			{
  				const fileList = fileElem.files; /* now you can work with the file list */
  				//currentFileElem.innerHTML = fileList[0].name;
  				currentFileElem.value = fileList[0].name;
  			}
  			else
  			{
  				//currentFileElem.innerHTML = "none chosen";
  				currentFileElem.value = "none chosen";
  			}

		});



	    


  		

		

	</script>
{% endblock %}